{% extends "base.html" %}
{% block title %}About Developer{% endblock title %}
{% block body %}
  <div class="about-container">
    <div class="about-card">
      {% comment %} <img src="/static/developer.jpg" alt="Developer Photo"> {% endcomment %}
      <h1 style=" color: orange ">About</h1>
      <h2>Devloped by Ashutosh Patil</h2>
      <p>Student at MITS Gwalior(2024-2028)</p>
      <p>Email: ashutoshpatil470@gmail.com</p>
      <p>Location: Gwalior, India</p>
      <p>Passionate about building web platforms that solve real-world problems. Skilled in Python, Flask, Django, HTML, CSS, and JavaScript.</p>
    </div>
  </div>
{% endblock body %}
